/* estilos gerais da página */
html, body {
  min-height: 100%;
}

body {
  margin: 0 auto;
  max-width: 600px;
  border-left: 3px double silver;
  border-right: 3px double silver;
  padding: 0 2em;
  background-image: linear-gradient(to bottom right, #d6fdc6, #d0d0ff, #feffc1);
  color: #333;
  font-family: sans-serif;
}

h1 {
  margin-top: 0;
  font-family: "Comic Sans", cursive;
  font-weight: normal;
  color: purple;
}

h1::after {
  content: " ";
  display: block;
  width: 100%;
  background-image: linear-gradient(to right, #5f0d5f, transparent);
  height: 2px;
}

h2 {
  clear: both;
  color: black;
  font-family: "Comic Sans", cursive;
  background-image: linear-gradient(to right, yellow 1%, rgba(255,255,255,.5) 1%, transparent);
  padding: 0.15em 0.15em 0.15em 1em;
}

.circular {
  border-radius: 50%;
  shape-outside: circle(50%);
}

.foto-ovelha {
  display: inline-block;
  width: 125px;
  border: 2px solid yellow;
  box-shadow: 3px 3px 3px silver;
}

.foto-ovelha:nth-of-type(odd) {
  float: left;
  margin-right: 1.5em;
}

.foto-ovelha:nth-of-type(even) {
  float: right;
  margin-left: 1.5em;
}

p {
  text-align: justify;
  line-height: 1.5em;
}

ul {
  list-style-image: url(imagens/ovelhinha.gif);
}

/* Estilos da tela vibrando - quando a ovelhinha cai ou o dispositivo
  é chacoalhado */
.vibrando > *:not(p):not(.ovelhita) {
  animation: vibrando 1s ease-out 1;
  overflow: hidden;
}

.vibrando > img {
  animation-delay: .1s;
}

.vibrando > p {
  animation: rodando 1s ease-out 1;
  animation-delay: .05s;
}


}

.shadow {
  position:relative;
  margin: 5% auto;
  border-radius:50%;
  width:3.5em; height:3.5em;
  background: white;
  top:20%;
  display:flex;
  justify-content:center;
  align-items:center;

  transform: scale3d(.75, .75, .75);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}

@keyframes move_eye {
  from {
    transform: scale3d(.75, .75, .75);
  } to {
    transform: scale3d(1, 1, 1);
  }
}

.listening {
  animation: move_eye 0.4s cubic-bezier(0.25,0.1,0.25,1) 0s infinite alternate;
}

.gn {
  position:relative;
  margin: 5% auto;
  background-color: #1565c0;
  border-radius:50%;
  width:3.5em; height:3.5em;
  transition: box-shadow 150ms ease-out;
}

.gn:hover {
  box-shadow: .3em .3em .3em rgba(90,90,90,.3);
}

.mc:before, .mc:after,
.gn:before, .gn:after {
  content:'';
  position:absolute;
  background-color:#fff;
}

.gn:after {
  top:30%; left:43%;
  height:15%; width:14%;
  border-top-left-radius:50%;
  border-top-right-radius:50%;
}

.gn:before {
  top:40%; left:43%;
  height:15%; width:14%;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
}

.mc {
  position:absolute;
  top:50%; left:37%;
  height:24%;
  width:26.5%;
  overflow:hidden;
}

.mc:before {
  bottom:50%;
  width:100%; height:100%;
  left: 0;
  box-sizing:border-box;
  border-radius:50%;
  border:0.1em solid #fff;
  background:none;
}

.mc:after {
  top:50%; left:40%;
  width:20%; height:25%;
}


/* Estilos das instruções próximas ao microfone */

#instrucoes {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.instrucao {
  position: fixed;
  right: 2.25em;
  bottom: 50%;
  margin-bottom: -0.75em;
  display: inline-block;
  opacity: 0;
  z-index: 1;
  color: #1565c0;
  background-color: rgba(255,255,255,.7);
  border-radius: 0.25em;
  padding: .25em;
  transform-origin: right;
  transition: all 250ms ease-out;
}

.instrucao:nth-child(1) { transform: rotate(75deg); }
.instrucao:nth-child(2) { transform: rotate(45deg); }
.instrucao:nth-child(3) { transform: rotate(15deg); }
.instrucao:nth-child(4) { transform: rotate(-15deg); }
.instrucao:nth-child(5) { transform: rotate(-45deg); }
.instrucao:nth-child(6) { transform: rotate(-75deg); }

.ativa .instrucao {
  opacity: 1;
}

.ativa .instrucao:nth-child(1) {
  transform: rotate(75deg) translateX(-3em);
  transition-delay: 0ms;
}

.ativa .instrucao:nth-child(2) {
  transform: rotate(45deg) translateX(-3em);
  transition-delay: 40ms;
}

.ativa .instrucao:nth-child(3) {
  transform: rotate(15deg) translateX(-3em);
  transition-delay: 80ms;
}

.ativa .instrucao:nth-child(4) {
  transform: rotate(-15deg) translateX(-3em);
  transition-delay: 120ms;
}

.ativa .instrucao:nth-child(5) {
  transform: rotate(-45deg) translateX(-3em);
  transition-delay: 160ms;
}

.ativa .instrucao:nth-child(6) {
  transform: rotate(-75deg) translateX(-3em);
  transition-delay: 200ms;
}
